@model Cumulative01.Models.Teacher;

<h1>Teacher Id:</h1>@Model.TeacherId</h1> 
<p>Teacher FirstName:@Model.TeacherFName</p>
<p>Teacher LastName:@Model.TeacherLName</p>
<p>Teacher employee-Id:@Model.EmployeeID</p>
<p>Hiring Date@Model.HireDate</p>
<p>Salary:Model.Salary</p>
